# Data Cleaning

In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('/Users/anthonymoubarak/Desktop/Ken Jee Project /glassdoor_jobs.csv')

In [2]:
# Defining a function that removes everything Unnecessary after the K

def return_number(x):
    if 'K' in x:
        end_index = x.find('K')
        return x[0:(end_index + 1)]
    else:
        return x


# Modifying the Salary Estimate column 


for i in np.arange(0 , len(df['Salary Estimate'])):
    df['Salary Estimate'][i] = df['Salary Estimate'][i].split(" " , 1)[0]


for i in np.arange(0 , len(df['Salary Estimate'])):
    if df['Salary Estimate'][i] not in ("-1" , "Employer" , "150(Employer"):
        for j in np.arange(0,2):
            if j == 0:
                x = int(return_number(df['Salary Estimate'][i].split('-')[j]).replace('$' , '').replace('K' , ''))
            else:
                y = int(return_number(df['Salary Estimate'][i].split('-')[j]).replace('$' , '').replace('K' , ''))
        
        df['Salary Estimate'][i] = (x+y)/2
    
        

# Rename Salary Estimate column

df = df.rename(columns = {'Salary Estimate' : 'Average Salary (K $)'})

/Users/anthonymoubarak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/anthonymoubarak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [3]:
# Eliminating the rows with '-1' and 'Employer' as salary entry

df = df[(df['Average Salary (K $)'] != "-1" ) &  (df['Average Salary (K $)'] != "Employer" ) ]

In [4]:
# Company Name

df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [5]:
# Location and Headquarters
df['Location'] = df['Location'].apply(lambda x: x.split(',')[1])
df['Headquarters'] = df['Headquarters'].apply(lambda x: x.split(',')[1])
df['Same Location'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0 , axis = 1)

In [6]:
# Company Age

df['Company Age (Years)'] = 2021 - df['Founded']

In [7]:
# Check for Python, Rstudio, spark, excel in job descriptions
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['Spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [8]:
df.head()

,Unnamed: 0,Job Title,Average Salary (K $),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Same Location,Company Age (Years),Python,Spark,Excel
0,0,Data Scientist,72,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,NM,CA,501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,48,1,0,1
1,1,Healthcare Data Scientist,87.5,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,MD,MD,10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,1,37,1,0,0
2,2,Data Scientist,85,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,FL,501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,1,11,1,1,1
3,3,Data Scientist,76.5,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,WA,WA,1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",1,56,1,0,0
4,4,Data Scientist,114.5,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,NY,NY,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",1,23,1,0,1

In [26]:
#Cleaning the Job Title column using a function i created 
#Creating a column that sets whether or not the poistion is junior or senior



def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'data analyst' in title.lower():
        return 'Data Analyst'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'machine learning' in title.lower():
        return 'MLE'
    elif 'director' in title.lower():
        return 'Director'
    else:
        return 'na'


def seniority(title):
    if 'senior' in title.lower() or  'sr' in title.lower() or 'principle' in title.lower() or 'lead' in title.lower():
        return 'Senior'
    elif 'junior' in title.lower()  or  'jr' in title.lower():
        return 'Junior'
    else:
        return 'na'
    
    

df['Job Simplified'] = df['Job Title'].apply(title_simplifier)
df['Position Level'] = df['Job Title'].apply(seniority)
df['Job Simplified'].value_counts()
df['Position Level'].value_counts()

na        532
Senior    190
Junior      3
Name: Position Level, dtype: int64

In [48]:
#Rename Los Angeled to LA in the Location column

df['Location'] = df['Location'].apply(lambda x: x.strip() if x.strip().lower() != 'los angeles' else 'CA')

In [60]:
#Get the job description length 
df['Job Description Length'] = df['Job Description'].apply(lambda x:  len(x))

In [76]:
#Creating a column that specifies the number of competitors 
df['Number of competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

In [77]:
df['Number of competitors'].value_counts()

0    443
3    228
2     41
1     12
4      1
Name: Number of competitors, dtype: int64

In [81]:
#Saving our cleaned dataframe into a csv to use later on in our analysis

df.to_csv('cleaned_glassdoor_data.csv')